$Neutral_90: #232f3e;
$Neutral_80: #394451;
$Neutral_70: #56616c;
$Neutral_60: #737e8b;
$Neutral_50: #8b96a3;
$Neutral_20: #d1d5da;
$Neutral_10: #e8eaee;
$Neutral_05: #f1f4f7;
$Neutral0: #ffffff;
$Blue_80: #1659a9;
$Blue_70: #1768c9;
$Blue_60: #0077d9;
$Blue_05: #ebf5fd;
$Blue_20: #afd7f7;
