@import "common_colors";

body {
  margin: 0;
  font-family: "Amazon Ember", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  cursor: pointer;
}

#preConsentImg {
  width: 128px;
  height: 128px;
  align-self: flex-end;
}

#jobOpportunityHeaderImageContainer {
  position: relative;
  width: 100%;
  background: linear-gradient(270deg, #fff, #d4e4e6 51%, #fff 100%, hsla(0, 0%, 100%, 0) 0);
  //height: 270px;

  #jobOpportunityHeaderImageOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: #000;
    background: linear-gradient(0deg, #000, rgba(61, 61, 61, .524247) 38%, hsla(0, 0%, 100%, 0) 64%, hsla(0, 0%, 100%, 0));
  }

  #jobOpportunityHeaderImage {
    width: 50%;
    margin: auto;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

[data-test-id="nheTimeSlotCard"] {
  .nheSpokenLanguage {
    margin-bottom: 12px;
  }
}

.scheduleListContainer {
  width: 100%;

  .scheduleListActionContainer {
    width: 100%;
    justify-content: space-between;

    .scheduleListActionItem {
      color: $Blue_70;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.scheduleBannerText {
  font-weight: 500;
  hyphens: none;
  color: $Blue_70;
}

.backToJobDashboardLink, .shiftPreferenceLink, .nhePreferenceLink, .nhePreferenceBackLink {
  color: $Blue_70;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.scheduleCardBanner {
  color: $Neutral0;
  background: $Blue_70;
  width: 100%;
  padding: 0.25em;
  font-size: 0.65em;
  justify-content: center;
}

.scheduleCardContainer {
  width: 100%;
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  box-shadow: rgba(22, 30, 45, 0.3) 0px 0px 10px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: $Neutral0;
  cursor: pointer;

  .scheduleCardHeader {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .scheduleCardBannerContainer {
      min-width: 80px;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        margin: auto;
      }
    }
  }
}
.alreadyAppliedButton {
  margin-top: 20px !important;
}

.alreadyAppliedCard {
  border: 1px solid $Neutral_20 !important;
}

.schedulePreferenceCard, .nhePreferenceCard {
    width: 100%;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
    box-shadow: rgba(22, 30, 45, 0.3) 0px 0px 10px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: $Neutral_10;
    cursor: pointer;

  .shiftPreferenceLink {

  }
}

.jobConfirmationCardContainer {
  width: 100%;
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  box-shadow: rgba(22, 30, 45, 0.3) 0px 0px 10px 0px;

  .jobConfirmationHeader {
    width: 100%;
  }

  .jobDetailLink {
    border-top: 1px solid $Neutral_10;
    color: $Blue_70;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.video-container {
  position: relative;

  .videoPlayButton {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

    button {
      background: transparent;
      border: none;
      img {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
  }
}

#jobImageContainer {
  img {
    width: 90%;
    max-height: 600px;
    margin: auto;
  }
}

.AppLoader {
  position: fixed;
  top: 0;
  background: rgba(22,30,45, 0.2);
  left: 0;
  z-index: 10000000000;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100vh;
}

#applicationStepContainer {
  z-index: 0;
  .steps {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember", Helvetica, sans-serif;
    line-height: 1.5715;
    list-style: none;
    display: flex;
    color: #5c7274;
    width: 100%;
    &.steps-vertical {
      display: flex;
      flex-direction: column;
      .steps-item {
        display: block;
        overflow: visible;
        &:not(:last-child) {
          .steps-item-container {
            .steps-item-tail {
              display: block;
              position: absolute;
              top: 0;
              left: 16px;
              width: 2px;
              height: 100%;
              padding: 38px 0 6px;
              background-color: #5c7274;
              z-index: -99;
            }
          }
        }

        .steps-item-container {
          .steps-item-content {
            display: block;
            min-height: 48px;
            overflow: hidden;
          }
        }

        .steps-item-icon {
          float: left;
          margin-right: 16px;
        }

        &:last-child {
          .ant-steps-item-tail {
            position: absolute;
            top: 0;
            left: 16px;
            width: 2px;
            height: 100%;
            padding: 38px 0 6px;
          }
        }
      }
    }

    .steps-item-icon {
      width: 32px;
      height: 32px;
      margin: 0 8px 0 0;
      font-size: 16px;
      font-family: "Amazon Ember", Helvetica, sans-serif;
      line-height: 28px;
      text-align: center;
      border: 2px solid #5c7274;
      background-color: #ffffff;
      border-radius: 32px;
      -webkit-transition: background-color 0.3s, border-color 0.3s;
      transition: background-color 0.3s, border-color 0.3s;
    }

    .steps-item-content {
      display: inline-block;
      vertical-align: top;
      color: #232f3e;
    }

    .steps-item {
      position: relative;
      display: inline-block;
      flex: 1;
      overflow: hidden;
      vertical-align: top;
      z-index: 1000;

      .steps-item-container {
        outline: none;
      }
    }
  }
}

#DaysHoursFilterContainer {
  width: 100%;
}

.contingencyOfferFooter {
  background: $Blue_05;
}

.consentDisabilityAccommodationText {
  background: $Blue_05;
}

.stateNoticeText {
  p {
    padding: 0px!important;
    margin: 0px!important;
  }

  a {
    color: $Blue_70;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

.formInputItem {
  width: 100%;
  padding-top: 1em;
}

.nonFcraContainer {
  li {
    padding: 0.3em 0;
  }
}

.protectedVetContainer {
  li {
    padding-top: 1em;
  }
}

.disabilityListContainer {
  li {
    padding-top: 1em;
  }
}

.ul-list {
  margin: 0;
  padding-left: 20px;
}

.border-top-row {
  padding-top: 0.875em;
  border-top: 1px solid $Neutral_20;
  width: 100%;
}

.iframe {
  width: 100%;
  height: 100vh;
  border: none;
  -webkit-overflow-scrolling: touch;
}

div[data-test-id='SSNExplanationBanner'] {
  border-left: none;
}

.nhe-sticky-button {
  position: sticky;
  bottom: 20px;
}

.preview-steps-btn {
  width: 35%;
}

.preview-steps-btn-small {
  width: 100%;
}

body.no-header-footer {
  #hvh-bb-header, #hvh-bb-footer, #counter-message-banner {
    display: none;
  }
}

// Short term solution before Stencil fixed the issue: https://t.corp.amazon.com/P74586751
// Related QA issue: https://issues.amazon.com/issues/MX_DGS_QA_BUG-40
div[data-test-component="StencilPopupDatePicker"] {
  h2[data-test-component="MonthYearText"] {
    white-space: normal;
  }
}

.borderlessFieldset {
  border: none;
  padding: inherit;
}

.contingent-offer-flyout-btn {
  margin: 0.5em 0;
  width: 100%;
  text-align: left !important;
  justify-content: start !important;
}

.contingent-offer-conditional-ul-list {
  margin: 20px 0;
  padding-left: 20px;
}

.review-submit-list-item {
  padding-bottom: 0.5em;
}

.conviction-detail-secondary-label {
  width: 100%;
  font-style: italic;
}

.scheduleCardDetails__icon--aligmentFix{
  transform: scale(.96);
  margin-left: -5px;
}

.required-asterisk::after {
  content: " *";
  color: #bb2929;
}