@import "common_colors";

body {
  margin: 0;
  font-family: "Amazon Ember", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  cursor: pointer;
}

#preConsentImg {
  width: 128px;
  height: 128px;
  align-self: flex-end;
}

#jobOpportunityHeaderImageContainer {
  position: relative;
  width: 100%;
  background: linear-gradient(270deg, #fff, #d4e4e6 51%, #fff 100%, hsla(0, 0%, 100%, 0) 0);
  //height: 270px;

  #jobOpportunityHeaderImageOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: #000;
    background: linear-gradient(0deg, #000, rgba(61, 61, 61, .524247) 38%, hsla(0, 0%, 100%, 0) 64%, hsla(0, 0%, 100%, 0));
  }

  #jobOpportunityHeaderImage {
    width: 50%;
    margin: auto;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

.scheduleListContainer {
  width: 100%;

  .scheduleListActionContainer {
    width: 100%;
    justify-content: space-between;

    .scheduleListActionItem {
      color: $Blue_70;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.backToJobDashboardLink {
  color: $Blue_70;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.scheduleCardBanner {
  color: $Neutral0;
  background: $Blue_70;
  width: 100%;
  padding: 0.25em;
  font-size: 0.65em;
  justify-content: center;
}

.scheduleCardContainer {
  width: 100%;
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  box-shadow: rgba(22, 30, 45, 0.3) 0px 0px 10px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: $Neutral0;
  cursor: pointer;

  .scheduleCardHeader {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .scheduleCardBannerContainer {
      width: 80px;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        margin: auto;
      }
    }
  }
}

.jobConfirmationCardContainer {
  width: 100%;
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  box-shadow: rgba(22, 30, 45, 0.3) 0px 0px 10px 0px;

  .jobConfirmationHeader {
    width: 100%;
  }

  .jobDetailLink {
    border-top: 1px solid $Neutral_10;
    color: $Blue_70;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.video-container {
  position: relative;

  .videoPlayButton {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

    button {
      background: transparent;
      border: none;
      img {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
  }
}

#jobImageContainer {
  img {
    width: 90%;
    max-height: 600px;
    margin: auto;
  }
}

.AppLoader {
  position: fixed;
  top: 0;
  background: rgba(22,30,45, 0.2);
  left: 0;
  z-index: 10000000000;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100vh;
}

